<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flutterwave.raveandroid">

    <application
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".RavePayActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".VerificationActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>