<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856971514481-pa2ob2e1fessj8j5fb5efjd670ashr07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856971514481-pa2ob2e1fessj8j5fb5efjd670ashr07</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>856971514481-gej0b74t95odo7929hma4ik8ckgjes0v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyTRPfjq6OeX-qqRhPATgVYOdDZawhLBA</string>
	<key>GCM_SENDER_ID</key>
	<string>856971514481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.handwash</string>
	<key>PROJECT_ID</key>
	<string>handwash-cbaa8</string>
	<key>STORAGE_BUCKET</key>
	<string>handwash-cbaa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856971514481:ios:9977055fefe3b8e7cf81d0</string>
	<key>DATABASE_URL</key>
	<string>https://handwash-cbaa8.firebaseio.com</string>
</dict>
</plist>